@model IEnumerable<Pos.Models.Item>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parchases Item</h2>

<div>
    <table id="t01">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Enter Quantity</th>
        <th>Action</th>

        </thead>
        @foreach (var item in Model)
        {

            <tr>
                @using (@Html.BeginForm("Buy", "Pos", new { Id = item.Id }))
                {
                
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.TextBox("Quantity",0)
                </td>

                <td>
                    <button type="submit" >Buy</button>

                </td>
                }
            </tr>
           
        }

    </table>
</div>
<br />


<style>
    table#t01 {
        width: 100%;
        background-color: #f1f1c1;
    }

        table#t01 tr:nth-child(even) {
            background-color: #a7aaaf;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #dce0e8;
        }

        table#t01 th {
            color: white;
            background-color: #8342f4;
        }

    table, th, td {
        border: 1px solid #41f45c;
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        padding: 15px;
    }
</style> 